
@import url('../vendor/jQuery_mobile/jquery.mobile-1.4.0-alpha.1.css');
@import url('../vendor/jQuery_mobile/jquery.mobile.structure-1.4.0-alpha.1.css');
@import url('../vendor/bootstrap/dist/css/bootstrap.css');
@import url('../vendor/google-code-prettify/prettify.css');

body, article, p, section {
	-webkit-font-smoothing: antialiased;
	font-family: 'Ubuntu', Verdana, Arial, sans-serif !important;
	font-size: 16px !important;
	line-height: 22px !important;
	color: #000000 !important;
	text-shadow: none !important;
}

.ui-content {
    margin: auto;
}

h1, h2, h3, h4, h5, h6 {
	-webkit-font-smoothing: antialiased;
    font-family: 'Electrolize', Tahoma, Arial, sans-serif;
	color: #1b88c9;
	cursor: text;
	position: relative;
}

ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	list-style-position: inside;
}

li {
	font-family: 'Ubuntu', Verdana, Arial, sans-serif !important;
	font-size: 16px !important;
	line-height: 22px !important;
	text-shadow: none !important;
}

pre, textarea, input, select {
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
}

pre {
	border: 1px solid #d7d7d7 !important;
	background-color: #ffffff !important;
	font-family: 'Droid Sans Mono', Verdana, Arial, sans-serif !important;
	padding: 0 0 15px 15px !important;
}
	
code {
	font-family: 'Source Sans Pro', Verdana, Arial, sans-serif !important;
	font-size: 16px !important;
	text-shadow: none !important;
}

h1#websitetitle {
    min-height: 0px !important;
    margin: 0px auto 0px auto !important;
	text-align: left;
}

h1#websitetitle a {
	color: #ffffff;
	text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 5px 10px rgba(255,255,255,.25) !important;
}

h2#websitesubtitle {
    margin: 0px 0px 5px 0px !important;
    min-height: 0px !important;
    line-height: 100% !important;
    margin: 0px auto 0px auto !important;
	text-align: left !important;
	color: #ffffff !important;
	text-shadow: 0 1px 0 #ccc !important;
}

a.uri_change_anchor {
	left: -35px;
	top: 5px;
	height: 30px;
	width: 30px;
	cursor: pointer;
	position: absolute;
	color: #4183C4;
	border: 0;
	text-decoration : none;
}

h3:hover a.uri_change_anchor::before, h4:hover a.uri_change_anchor::before {
	position: absolute;
	content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAaCAYAAABGiCfwAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3AsXEQ8Z7SFViwAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAACEUlEQVRIx72WT2RcQRzHP7EsYQlhCSUspSwhhLCUnsqyhKXkFErJKfSUUyml5NQqJeTa6ilVSilhKaUklqWEpYSNsJTWEkrYer18h6/nZd577eqPd5iZ38xn5vf3zSVJwv+SuRmeNQ9sA3eBKnACPAd+zvrSK8AISFLfD2BjlqAWcKnDh8BD4DEw0dyVdErLLaAPfNZ4zQ7tyZRB1m3tDKiUAd0Extp8DKzKTIng8xl77phJN4uCls0nY/nhu8ZfgFpk76H0DoqAluSLRICuvbAPLOTs35PuYR5oERhYZHWBixIggA/SfxJTqslEiRzdNVMOdBGXKtBIzd0zn3ViCdqT0qU2nWl8CtQzLNDX+g3NbSrsE+DddaAq8F5KvwQaWh4tRUAjqyRTzb26LuwrwBsDtc1nQ7t1kAUDXSg9ds10L2N+OrCsbwOPSoL2DPQ0BnpmoFDPwmHNHFAT2DfQbgwUXjCVj4IEEy6mQMcGWjHTT4EHMVDbbrSdWgu33bGS1bdKsmrBdFWkJAU/fcxYa1hFP7UIG6vQfrJg6hQpR72cpOtY9Q7B0rIXTlRwC8mRNq1FdOrAlkzeSNXK9TKt44U2bhRsM6NUcJSSjvWoSk7rD23lm8B/JYOc0tIyv33NSPDS7X5irWMLuK2c21e0hdfXZ/Hjsmy9J+s7Kti/Sv03NoH7elkNOAfeAq+B3/8C+wN4ic4k0N7vrwAAAABJRU5ErkJggg==');
	top: -3px;
	width: 35px;
	text-align: center;
}

section#core-box {
	background-color: #f3f3f3;
	padding: 3%;
	margin-bottom: 3%;
}

article {
	background-color: #f3f3f3;
	padding: 3%;
	margin-bottom: 3%;
}

article h1 {
    min-height: 0px !important;
    padding: 0px 0px 0px 0px !important;
	text-align: left;
}

article h1 a {
	display: block;
	width: 100%;
}

article header img {
	float: left;
	width: auto;
	max-width: 100%;
	margin: 0em 2em 2em 0em;
}

footer {
	margin-top: 2%;
}

header {
	margin-bottom: 2%;
}

header#websiteheader {
    background: #1b88c9 !important;
    border: 0px !important;
	margin: 0px !important;
}

#white_bar {
	background-color: #ffffff;
}

ul.pagination {
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
    border-radius: 0px;
}

ul.pagination > li > a, ul.pagination > li > span {
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
}

h1#tags_page {
	background-color: #1b88c9;
	color: #ffffff;
	padding: 3%;
}

ul.nav {
    float: left;
    
}

ul.nav li {
	margin-bottom: 0px !important;
    display: inline-block;
}

.list-group-item {
    border-radius: 0px !important;
}

.badge {
    border-radius: 0px !important;
    background-color: #1b88c9;
}

.navbar {
    margin-bottom: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    border-radius: 0px !important;
    background-color: #1b1b1b !important;
}

.navbar .nav > li > a,
.navbar .nav > li > a:focus,
.navbar .nav > li > a:visited,
.navbar .nav > li > a:hover {
	text-align: center;
    font-family: 'Electrolize', sans-serif;
	text-decoration: none;
	background-color: transparent;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	color: #ffffff;
}

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
	color: #21cef3;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:visited,
.navbar .nav > .active > a:focus {
	color: #21a4f3;
	text-decoration: none;
	background-color: transparent;
	-webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
	-moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
	box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}

.navbar-toggle {
    display: none !important;
    margin-top: 4px !important;
    float: left !important;
}

.nav-collapse {
    margin-top: 0px !important;
}

.ui-page {
	background-color: #ffffff !important;
	background-image: none !important;
}

#right-side {
	margin: 0 0 1% 0% !important;
}

#right-side .widget {
	background-color: #f3f3f3;
	width: 82%;
	padding: 9%;
	font-family: 'Ubuntu', Verdana, Arial, sans-serif !important;
	font-size: 16px !important;
	color: #000000 !important;
	text-shadow: none !important;
}

.readinglist_icon {
	width: 16px;
	height: 16px;
	float: left;
	vertical-align: middle;
	margin: 3px 3px 3px 0px;
}

.readinglist_container {
	position:relative;
	padding: 0px;
	margin: 0 9% 0 0;
	width: 100%;
}

.readinglist_box {
	font-family: 'Ubuntu', Verdana, Arial, sans-serif !important;
	font-size: 16px !important;
	text-shadow: none !important;
	min-height: 100px;
	float: left;
	padding: 0 2% 2% 0;
	margin: 0;
	-webkit-transition: top 1s ease, left 1s ease;
	-moz-transition: top 1s ease, left 1s ease;
	-o-transition: top 1s ease, left 1s ease;
	-ms-transition: top 1s ease, left 1s ease;
	transition: top 1s ease, left 1s ease;
	overflow: auto;
}

.readinglist_image {
	width: 100%;
	margin: 10px 0 10px 0;
	display: block;
}

.readinglist_box article {
	padding: 5%;
	margin-bottom: 0 !important;
}

.readinglist_container .readinglist_box a {
	display: block;
	position: relative;
	overflow: hidden;
	text-decoration: none;
}

.readinglist_container .readinglist_box a div {
	position: absolute;
	background: rgba(0,162,255,0.2);
	width: 100%;
	height: 100%;
	color: #fff;
}

#related_articles {
	margin-top: 3%;
}

article ul, .widget ul, #related_articles ul {
	list-style-type: square !important;
	color: #1b88c9 !important;
}

span.inner_li {
	font-family: 'Ubuntu', Verdana, Arial, sans-serif !important;
	font-size: 16px !important;
	color: #000000 !important;
}

.widget a, #related_articles a {
	font-weight: normal !important;
	color: #000000 !important;
}

.tags_title {
	float: left;
	font-size: 14px;
	font-family: 'Electrolize', Helvetica, Arial, sans-serif;
	color: #1b88c9;
	background-color: #ffffff;
	height: 40px;
	line-height: 20px;
	display: inline-block;
	padding: 10px 20px 10px 20px;
	margin: 5px 10px 5px 0px;
}

#tags li {
	float: left;
}

.errors li {
	color: #d8000c;
	background-color: #ffbaba;
	border: 1px solid #d8000c;
	padding:15px 10px 15px 50px;
}

a.btn {
	color: #ffffff !important;
	border: 0px !important;
	font-weight: normal !important;
	padding: 10px 20px 10px 20px !important;
	margin: 5px 10px 5px 0px !important;
}

.ui-btn, .btn {
	font-family: 'Electrolize', Helvetica, Arial, sans-serif !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
	/*margin: 5px 0px 5px 0px !important;*/
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.btn-primary {
	background-color: #1b88c9 !important;
	background-image: none !important;
	color: #ffffff !important;
}

.btn-primary:hover {
	background-color: #21a4f3 !important;
	background-image: none !important;
	color: #ffffff !important;
}

#rss_button {
	text-align: center;
}

#rss_button a {
	width: 100px;
    height: 100px;
    margin: 0px;
    padding: 0px;
}

/* projects page */
.ui-collapsible-heading-toggle {
	-webkit-font-smoothing: antialiased;
    font-family: 'Electrolize', Tahoma, Arial, sans-serif;
	color: #1b88c9 !important;
    background-color: #ffffff !important;
    padding-top: 20px !important;
    padding-right: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 50px !important;
}

.ui-collapsible-content {
    background-color: #ffffff !important;
    border: 1px #21a4f3 solid !important;
    margin-bottom: 15px !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
}

a.ui-link:active, a.ui-link:link, a.ui-link:visited, a.ui-link:active {
    -webkit-font-smoothing: antialiased;
    color: #1b88c9;
}

.project_header {
    text-align: right;
}

/* bookmarks listview */
.ui-corner-all {
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
}

.ui-bar-inherit {
    background-color: #1b88c9 !important;
    border: 1px solid #dddddd !important;
    color: #ffffff !important;
}

/* webkit scrollbar style */
::-webkit-scrollbar{
	width: 15px;
	height: 15px;
}

::-webkit-scrollbar-track-piece {
	background-color: #f3f3f3;
}

::-webkit-scrollbar-thumb:vertical {
	height: 50px;
	background-color: #c3c3c3;
}

::-webkit-scrollbar-thumb:horizontal {
	width: 50px;
	background-color: #c3c3c3;
}

/* website media queries */
/* large device */
@media (min-width: 1200px) {

	#whitetop {
		height: 20px !important;
	}

	.ui-content, h1#websitetitle , h2#websitesubtitle, .nav.main {
		width: 1170px !important;
        padding: 20px 0px 20px 0px !important;
	}
	
	ul.nav li {
		width: 200px !important;
		height: 80px !important;
	}
	
	.navbar .nav > li#last {
		border-right: 1px solid #575757;
	}

	.navbar .nav > li > a {
		width: 100%;
		height: 100%;
		line-height: 80px;
		padding: 0px 0px 0px 0px !important;
		border-left: 1px solid #575757;
        font-size: 22px;
	}
	
	#rss_button {
		height: 80px;
		width: 10%;
		float: left;
		line-height: 80px;
	}


	#right-side .widget {
		margin-bottom: 10%;
	}

	h1#websitetitle {
		padding: 20px 0px 0px 0px !important;
	}
	
	h1#websitetitle a {
		font-size: 72px;
		line-height: 80px;
	}
	
	h2#websitesubtitle {
		padding: 0px 0px 20px 0px !important;
        font-size: 28px;
	}

	article h1 {
		font-size: 48px !important;
		line-height: 64px !important;
		margin: 0px 0px 30px 0px !important;
	}
	
	p, pre, h1, h2, h3, h4, h5, h6,
	article ul, .widget ul, #related_articles ul	{
		margin: 0px 0px 18px 0px !important;
	}

	#white_bar {
		height: 20px !important;
	}
	
}

/* Large desktop */
@media (min-width: 992px) and (max-width: 1199px) {
    
	.ui-content, h1#websitetitle , h2#websitesubtitle, .nav.main {
		width: 940px !important;
        padding: 15px 0px 15px 0px !important;
	}
	
	ul.nav li {
		width: 170px !important;
		height: 60px !important;
	}
	
	.navbar .nav > li#last {
		border-right: 1px solid #575757;
	}

	.navbar .nav > li > a {
		width: 100%;
		height: 100%;
		line-height: 60px;
		padding: 0px 0px 0px 0px !important;
		border-left: 1px solid #575757;
        font-size: 20px;
	}
	
	#rss_button {
		height: 60px;
		width: 5%;
		float: left;
		line-height: 60px;
	}

	#right-side .widget {
		margin-bottom: 10%;
	}

	h1#websitetitle {
		padding: 15px 0px 0px 0px !important;
	}
	
	h1#websitetitle a {
		font-size: 48px;
		line-height: 54px;
	}
	
	h2#websitesubtitle {
		padding: 0px 0px 15px 0px !important;
        font-size: 26px;
	}

	article h1 {
		font-size: 36px !important;
		line-height: 48px !important;
		margin: 0px 0px 20px 0px !important;
	}
	
	p, pre, h1, h2, h3, h4, h5, h6,
	article ul, .widget ul, #related_articles ul	{
		margin: 0px 0px 12px 0px !important;
	}

	#white_bar {
		height: 15px !important;
	}
		
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 991px) {
    
	.ui-content, h1#websitetitle , h2#websitesubtitle, .nav.main {
		width: 718px !important;
        padding: 10px 0px 10px 0px !important;
	}
	
	ul.nav li {
		width: 130px !important;
		height: 60px !important;
	}
	
	.navbar .nav > li#last {
		border-right: 1px solid #575757;
	}

	.navbar .nav > li > a {
		width: 100%;
		height: 100%;
		line-height: 60px;
		padding: 0px 0px 0px 0px !important;
		border-left: 1px solid #575757;
        font-size: 16px;
	}
	
	#rss_button {
		height: 60px;
		width: 5%;
		float: left;
		line-height: 60px;
	}

	#right-side .widget {
		margin-bottom: 10%;
	}

	h1#websitetitle {
		padding: 10px 0px 0px 0px !important;
	}
	
	h1#websitetitle a {
		font-size: 36px;
		line-height: 48px;
	}
	
	h2#websitesubtitle {
		padding: 0px 0px 10px 0px !important;
        font-size: 22px;
	}

	article h1 {
		font-size: 28px !important;
		line-height: 36px !important;
		margin: 0px 0px 15px 0px !important;
	}
	
	p, pre, h1, h2, h3, h4, h5, h6,
	article ul, .widget ul, #related_articles ul	{
		margin: 0px 0px 9px 0px !important;
	}

	#white_bar {
		height: 12px !important;
	}
	
}

/* Landscape phones and down */
@media (max-width: 767px) {

	.ui-content, h1#websitetitle , h2#websitesubtitle, .nav.main {
		width: 90% !important;
        padding: 0px !important;
	}
	
	.navbar .nav > li {
		border-top: 1px solid #575757 !important;
        height: 30px !important;
        line-height: 12px !important;
        vertical-align: middle !important;
	}
    
	.navbar .nav > li#first {
		border-top: 0px !important;
	}
	
	.navbar .nav > li#last {
		border-bottom: 1px solid #575757 !important;
	}
	
	ul.nav {
		padding: 3px 0px 10px 0px !important;
        float: none !important;
	}
    
    ul.nav li {
        display: block !important;
    }
	
	#rss_button {
		width: 100%;
	}

	#right-side .widget {
		margin-bottom: 3% !important;
        width: 100% !important;
	}

	h1#websitetitle {
		padding: 3px 0px 0px 0px !important;
	}
		
	h1#websitetitle a {
		font-size: 26px;
		line-height: 20px;
	}
	
	h2#websitesubtitle {
		padding: 0px 0px 3px 0px !important;
        font-size: 18px;
	}

	article h1 {
		font-size: 22px !important;
		line-height: 24px !important;
		margin: 0px 0px 5px 0px !important;
	}
	
	p, pre, h1, h2, h3, h4, h5, h6,
	article ul, .widget ul, #related_articles ul {
		margin: 0px 0px 3px 0px !important;
	}

	#white_bar {
		height: 5px !important;
	}
    
    .navbar-toggle {
        display: inline-block !important;
        border: 1px solid #ffffff !important;
        width: 32px !important;
        height: 32px !important;
        top: 5px !important;
        right: 0px !important;
        left: 5px !important;
        padding: 4px !important;
    }
    
    .navbar-toggle:hover {
        background-color: #21a4f3 !important;
    }
    
    .navbar-toggle span {
        background-color: #ffffff !important;
        padding: 1px !important;
    }
	
}