nbproject

application/caches/
application/searchindexes/
application/logs/

library/Zend/
public/dev/vendor/jQuery_mobile/demos/
public/upload/

public/_production-build/vendor/

mongodb_backups

application.ini
application.log
build.txt
config.xml