nbproject

application/caches/
application/searchindexes/
application/logs/

library/Zend/
public/dev/vendor/jQuery_mobile/demos/
public/upload/

build/css
build/js
build/img

public/sitemap.xml.gz
public/google1c89971729f0b058.html

mongodb_backups

application.ini
application.log
build.txt
config.xml

Thumbs.db
desktop.ini