<?xml version="1.0" encoding="UTF-8" ?>

<routes>

	<bookmarkadminindex type="Zend_Controller_Router_Route">
		<route>bookmark/admin/:page</route>
		<defaults module="bookmark" controller="admin" action="index" page="1" />
	</bookmarkadminindex>

	<bookmarkadminmanage type="Zend_Controller_Router_Route">
		<route>bookmark/admin/manage/:id</route>
		<defaults module="bookmark" controller="admin" action="manage" id="" />
	</bookmarkadminmanage>
	
	<bookmarkadmindelete type="Zend_Controller_Router_Route">
		<route>bookmark/admin/delete/:id</route>
		<defaults module="bookmark" controller="admin" action="delete" id="" />
	</bookmarkadmindelete>
	
	<bookmarkindex type="Zend_Controller_Router_Route_Static">
		<route>mybookmarks</route>
		<defaults module="bookmark" controller="index" action="index" />
	</bookmarkindex>
	
	<bookmarkindextag type="Zend_Controller_Router_Route">
		<route>mybookmarks/tag/:id</route>
		<defaults module="bookmark" controller="index" action="index" id="" />
	</bookmarkindextag>

</routes>